<div class="main-back-image">
    <div class="main-home-page">
        <app-main-navbar></app-main-navbar>
        <div class="home-main-photo">
            <img src="https://static.wixstatic.com/media/e885ba_485a7441bc6746079dd6a9003c07d5fc~mv2.jpg/v1/fill/w_663,h_380,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/11062b_7331fa3757d54f92b88550af0c1b58e6~.jpg">
        </div>
        <div class="main-descriptionm-content">
            <h1>Health Company</h1>
            <p>big content here</p>
            <button>Contact Us</button>
        </div>
    </div>
</div>