.main-back-image{
    background-image: url('../../assets/main-back-image.png');
    width: 100%;
    // background: rgb(241, 241, 238);
}

.main-home-page{
    width: 50%;
    margin: auto;
    
}

.home-main-photo{
    text-align: center;
    padding: 50px;
    width: 100%;
}

.main-descriptionm-content{
    text-align: center;
}