.main-navbar{
    text-align: center;
}

.nav-item{
    display: inline-block;
    width: 25%; /* Set width as per your requirement */
    background-color: #ccc;
    padding: 10px 0 10px 0;
    cursor: pointer;
    border: none;
}

